* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

@font-face {
    font-family: 'Monument Extended';
    src: url('MonumentExtended-Ultrabold.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Monument Extended Regular';
    src: url('MonumentExtended-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Neue Haas Medium';
    src: url('NeueHaasDisplayMediu.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Neue Haas XThin';
    src: url('NeueHaasDisplayXThing.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    min-height: 100vh;
    display: flex;
    margin: 0;
    background-color: #fafafa;
    justify-content: center;
    align-items: center;
}

body::after {
    content: '';
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at bottom right, rgba(230,230,230,0.8) 0%, rgba(255,255,255,0) 35%);
    z-index: -1;
    pointer-events: none;
}

.page-container {
    width: 100%;
    max-width: 1600px;
}

.page-inner-container {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
}

.navbar {
    background-color: #fafafa;
    position: relative;
    height: auto;
    width: 100%;
}

.navbar-container {
    padding: 0 4%;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.navbar ul {
    display: flex;
    list-style: none;
    height: 100%;
    padding: 0;
    margin: 0;
    border: 1px solid #222;
}

.navbar ul li {
    display: flex;
    height: 100%;
}

.navbar ul li a {
    font-family: 'Monument Extended', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #222;
    text-decoration: none;
    font-weight: normal;
    font-size: 1.5rem;
    transition: color 0.2s, background-color 0.2s;
    padding: 0 1rem;
    height: 100%;
}

.navbar ul li a.resume-link {
    font-family: 'Neue Haas Medium', sans-serif;
}

.nav-icon {
    transition: filter 0.2s;
    filter: invert(0%);
}

.navbar ul li a:hover .nav-icon {
    filter: invert(100%);
}

.navbar ul li a:hover {
    color: white;
    background-color: #222;
}

.main-content {
    display: flex;
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 3%;
    height: 650px;
    margin-bottom: 0;
}

.left-section {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 1rem;
    margin-right: 0.5rem;
    padding: 0;
    position: relative;
    height: auto;
}

.name-wrapper {
    margin: 1.2rem 0 0 0;
}

.name-first, .name-last {
    font-family: 'Monument Extended', sans-serif;
    color: #222;
    font-weight: 900;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    line-height: 0.85;
}

.name-first {
    font-size: 8rem;
}

.name-last {
    font-size: 10.5rem;
}

.info-container {
    width: 100%;
    margin-top: 1.2rem;
    padding-left: 0.5rem;
}

.info {
    font-family: 'Neue Haas Medium', sans-serif;
    font-size: 2.5rem;
    color: #333;
    font-weight: normal;
    line-height: 1.2;
    text-align: left;
    width: 100%;
}

.info p {
    margin-bottom: 0.5rem;
}

.right-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    margin-right: 1rem;
    margin-left: 0.5rem;
    padding: 0;
    position: relative;
    height: auto;
}

.projects-title, .skills-title {
    font-family: 'Monument Extended Regular', sans-serif;
    font-size: 3.4rem;
    margin-top: 1.2rem;
    color: #222;
    text-align: left;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 0.9;
}

.projects-list {
    width: 100%;
    /* Remove the below */
    /* margin: 0 0 1.2rem 0; */
}

.skills-list {
    width: 100%;
    margin: 0;
}

.project {
    background-color: #ffffff;
    border-radius: 0;
    padding: 0.5rem;
    margin-bottom: 0.6rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
    border: 1px solid #222;
}

.project-title {
    font-family: 'Neue Haas Medium', sans-serif;
    font-size: 1.8rem;
    margin-bottom: 0.3rem;
    color: #222;
    text-transform: uppercase;
    line-height: 1;
    font-weight: normal;
}

.project-icon {
    transition: filter 0.2s;
}

.project-link {
    font-family: 'Neue Haas XThin', sans-serif;
    color: #444;
    text-decoration: none;
    font-weight: normal;
    display: inline-flex;
    align-items: center;
    transition: all 0.2s;
    border-bottom: 1px solid transparent;
}

.project-link:hover {
    color: #222;
    border-bottom: 1px solid #222;
}

.project-link:hover .project-icon {
    filter: invert(20%);
}

.project-description {
    font-family: 'Neue Haas XThin', sans-serif;
    color: #444;
    line-height: 1.4;
    font-size: 1rem;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.6rem;
    width: 100%;
}

.skill-item {
    font-family: 'Neue Haas XThin', sans-serif;
    background-color: #ffffff;
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: normal;
    text-align: center;
    color: #333;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
    border: 1px solid #222;
}

@media screen and (min-width: 1600px) {
    .page-container {
        display: flex;
        justify-content: center;
    }
    
    .page-inner-container {
        width: 1600px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 1200px) {
    .main-content {
        flex-direction: column;
    }

    .left-section, .right-section {
        width: 100%;
        margin: 0;
    }

    .name-first {
        font-size: 6rem;
    }

    .name-last {
        font-size: 8rem;
    }

    .info {
        font-size: 2rem;
    }

    .skills-list {
        padding-bottom: 1rem;
    }

    .skills-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 768px) {
    .name-first {
        font-size: 4rem;
    }

    .name-last {
        font-size: 5.5rem;
    }

    .info {
        font-size: 1.5rem;
    }

    .skills-list {
        padding-bottom: 1rem;
    }

    .skills-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 480px) {
    .name-first {
        font-size: 3rem;
    }

    .name-last {
        font-size: 4rem;
    }

    .info {
        font-size: 1.2rem;
    }

    .projects-title, .skills-title {
        font-size: 2.4rem;
    }

    .skills-list {
        padding-bottom: 1rem;
    }

    .skills-grid {
        grid-template-columns: 1fr;
    }
}